<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <img class="logo" src="assets/img/Logo.png">
    <div class="navigation">
      <b (mouseover)= "col_Selected()" class="collection" (mouseout)= "col_Left()">Collection</b>
      <b (mouseover)= "about_Selected()" (mouseout)= "about_Left()" class="about">About</b>
      <b (mouseover)= "shop_Selected()" (mouseout)= "shop_Left()" class="shop">Shop</b>
      <b (mouseover)= "blog_Selected()" (mouseout)= "blog_Left()" class="blog">Blog</b>
      <b (mouseover)= "review_Selected()" (mouseout)= "review_Left()" class="review">Reviews</b>
    </div>
    <img class="shopIcon" src="assets/img/shopingIcon.png">
    <img  class="backshopicon" src="assets/img/shopbackground">
    <img class="tickli" src="assets/img/tickli.png">
    <b class="no">1</b>
  </div>
  <div>
    <img class="unlockstyle" src="assets/img/Unlock Your Style.png">
    <img class="text" src="assets/img/text.png">
    <div>
      <img  class="viewcollection" src="assets/img/View All Collection.png">
      <img class="viewcollectionback" src="assets/img/Rectangle 9522.png">
    </div>
    <div>
      <img  class="facebook" src="assets/img/facebook.png">
      <img class="instagram" src="assets/img/instagram.png">
      <img class="twitter" src="assets/img/twitter.png">
      <img class="instaback" src="assets/img/Rectangle 9522.png">
    </div>
    <div>
      <img class="elipse" src="assets/img/Ellipse 1.png">
      <img class="girl" src="assets/img/girl.png">
      <img class="bg" src="assets/img/bg.png">
      <img class="bgtop" src="assets/img/bgtop.png">
      <img class="bgbottom" src="assets/img/bgdcorner.png">
    </div>
    <img class="starfirst" src="assets/img/Starfirst.png">
    <img class="star" src="assets/img/Star.png"> 
    <img class="starthird" src="assets/img/Starthird.png">
    <img class="starfourth" src="assets/img/Starfourth.png">
    <img class="starfifth" src="assets/img/Starfifth.png">
    <img class="starsix" src="assets/img/Starsix.png">
    <img class="vector" src="assets/img/Vector 13.png">
    <img class="khanafzal" src="assets/img/Khan Afzal.png">
    <img class="designedby" src="assets/img/Designed by.png">
  </div>
</body>
</html>